#header
{
    text-align: center;
    border-radius: 25px;
    background: #1b1b1b;
    padding: 20px;
    width: 100%px;
    height: 70px;
    line-height: 35px;
    border: 2px solid #ffffff
}

body
{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: gray;
}

#login
{
    margin: 10 auto;
    width: 100%px;
    height: 100%px;
    border-radius: 5px;
    border: 12px solid #cccccc;
}

li
{
    display: inline-block;
    font-size: 50px;
    text-align: center;
    width: 100%;
    background-color: #1b1b1b;
}